#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#rotateButton {
position: relative;
padding: 20px;
bottom:-100px;
}

#propeller {
  display: block;
  max-width: 700px;
  min-width: 100px;
  transform-origin: center;
  transition: transform 1s ease-in-out;
}

.propeller--container {
  display: flex;
  gap:30px;
  flex-direction: column;
  justify-content: center;
}
